<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokedex</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/134.png" />
      <ion-card-header>
        <ion-card-title>Vaporeon</ion-card-title>
        <ion-card-subtitle>Nº 0134</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Evolução de água de Eevee.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/086.png" />
      <ion-card-header>
        <ion-card-title>Seel</ion-card-title>
        <ion-card-subtitle>Nº 086</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Pré-evolução de dewgong
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/349.png" />
      <ion-card-header>
        <ion-card-title>Feebas</ion-card-title>
        <ion-card-subtitle>Nº 0349</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Pré-evolução de Milotic
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/350.png" />
      <ion-card-header>
        <ion-card-title>Milotic</ion-card-title>
        <ion-card-subtitle>Nº 0350</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Evolução de Feebas
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/370.png" />
      <ion-card-header>
        <ion-card-title>Luvdisc</ion-card-title>
        <ion-card-subtitle>Nº 0370</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Esse pokémon não possue evoluções
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/728.png" />
      <ion-card-header>
        <ion-card-title>Popplio</ion-card-title>
        <ion-card-subtitle>Nº 0728</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Pré-evolução de Brione
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/729.png" />
      <ion-card-header>
        <ion-card-title>Brione</ion-card-title>
        <ion-card-subtitle>Nº 0729</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Pré-evolução de Primarina
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/730.png" />
      <ion-card-header>
        <ion-card-title>Primarina</ion-card-title>
        <ion-card-subtitle>Nº 0730</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Ultima evolução de Popplio
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/418.png" />
      <ion-card-header>
        <ion-card-title>Buizel</ion-card-title>
        <ion-card-subtitle>Nº 0418</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Pré-evolução de Floatzel
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/419.png" />
      <ion-card-header>
        <ion-card-title>Floatzel</ion-card-title>
        <ion-card-subtitle>Nº 0419</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Última evolução de Buizel
      </ion-card-content>
    </ion-card>

</ion-content>
